/* ==========================
   GLOBAL STYLES
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#F8EFE4;
    font-family:"Poppins",sans-serif;
}