.left-content{

    width:50%;

    display:flex;
    flex-direction:column;
    align-items:flex-start;
   
    margin-left:20px;
    padding:15px 60px 40px;

}


/* ==========================
        BADGE
========================== */

.hero-button{

    background:#A0D6B4;

    color:#065115;

    border:none;
    margin-top:20px;
    padding:12px 24px;

    border-radius:30px;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    margin-top:25px;
    margin-bottom:18px;

    transition:.3s;

}

.hero-button i{

    margin-right:8px;

}

.hero-button:hover{

    background:#7BCF9E;

    transform:translateY(-2px);

    box-shadow:0 8px 18px rgba(123,207,158,.30);

}

.hero-button:active{

    transform:scale(.98);

}


/* ==========================
        HERO TITLE
========================== */

.left-content h3{

    font-size:72px;

    font-weight:700;

    line-height:1.05;

    color:#001F3F;

    margin-bottom:18px;

}

.left-content span{

    color:#F43C57;

}


/* ==========================
        HERO DESCRIPTION
========================== */

.left-content h4{

    font-size:18px;

    font-weight:400;

    line-height:1.6;

    color:#5B5B6A;

    max-width:560px;

}

.button1{
    background:#FF7B8A;
    color:white;

    border:none;
    margin-top:20px;
    padding:12px 24px;

    border-radius:30px;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.button1:hover{

    background:#FF6278;
    box-shadow:0 8px 18px rgba(255,123,138,.30);
    transform:translateY(-2px);
}

.button2{
    background:#FFFFFF;
    color:#001F3F;

    border:none;
    margin-top:20px;
    padding:12px 24px;

    border-radius:30px;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.button2:hover{

    background:#E9E9E9;
    box-shadow:0 8px 18px rgba(0,31,63,.30);
    transform:translateY(-2px);
}

.main-buttons{
    display:flex;
    gap:20px;
}

/* ==========================
        HERO STATS
========================== */

.hero-stats{
    display: flex;
    align-items: center;
    gap: 55px;
    margin-top: 35px;
}

.stat-item{
    display: flex;
    flex-direction: column;
}

.stat-item h2{
    font-family: "Poppins", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #001F3F;
    line-height: 1;
}

.stat-item p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #7A7A88;
    margin-top: 5px;
}


