.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 60px;

    position: sticky;
    top: 0;
    z-index: 1000;

    background: #F8EFE4;   /* Same as body background */
    border-bottom: 2px solid #E9E9E9;
}


/* ==========================
        LOGO
========================== */

.logo-section{
    display:flex;
    align-items:center;
    gap:8px;
}

.logo{
    width:42px;
    height:42px;
}

.logo-text{
    font-size:28px;
    font-weight:700;
    color:#2D2140;
}

.logo-text span{
    color:#FF6B81;
}


/* ==========================
        NAV LINKS
========================== */

.nav-links{
    display:flex;
    align-items:center;
    gap:40px;
}

.nav-links a{

    text-decoration:none;

    color:#5B5B6A;

    font-size:17px;
    font-weight:500;

    transition:.3s;
}

.nav-links a:hover{
    color:#FF6B81;
}


/* ==========================
        NAV BUTTONS
========================== */

.nav-buttons{

    display:flex;
    align-items:center;

    gap:20px;

}


/* Login */

.login-button{

    background:none;
    border:none;

    color:#5B5B6A;

    font-size:17px;
    font-weight:500;

    cursor:pointer;

    transition:.3s;
}

.login-button:hover{
    color:#FF6B81;
}


/* Signup */

.signup-button{

    background:#FF7B8A;
    color:white;

    border:none;

    padding:12px 24px;

    border-radius:30px;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.signup-button:hover{

    background:#FF6278;

    transform:translateY(-2px);

    box-shadow:0 8px 18px rgba(255,123,138,.30);

}

.signup-button:active{

    transform:scale(.98);

}
